.container{
    display: flex;
}
.card{
    display: flex;
    background-color: white;
}   
img{
    width: 300px;
}
.zag{
    width: 50px;
}
button{
    background-color: black;
    width: 200px;
}
h2 {
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }
  